@charset "utf-8";


//导入方法
@import "var";

//导入方法
@import "fun";


//导入自定义组件
@import "widget";


.content{
  padding-top: 100px;
  min-height: 1000px;
}


.ib{
  display: inline-block;
  vertical-align: middle;
}

.tl{
  text-align: left !important;
}

.full-img{
  width: 100%;
  vertical-align: middle;
  height: inherit;
}


/** bootstrap hack **/

/** 去掉focus的边框 **/
*:focus,*{outline: none;}
//.form-control:focus{
//  border-color : transparent;
//  -webkit-box-shadow : none;
//  box-shadow : none;
//}


.dropdown-menu{
  display: block;
  width: 100%;
  min-width: 100%;
  border-radius: 0;
  box-shadow : none;
}

.pager .next>button, .pager .next>span{
  float: right;
}
.pager .previous>button, .pager .previous>span{
  float: left;
}

.pager li>button, .pager li>span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  color: #428bca;
  border-radius: 15px;
}

.pager li>button:disabled{
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  color: inherit;
  opacity: .65;
}

