
<div class="container">
    <div class="row">

        <!-- 右侧显示内容 -->
        <div class="col-md-10" >

            <div class="panel panel-primary ">

                <div class="panel-heading">
                    <h3 class="panel-title">审核内容</h3>
                </div>

                <div class="panel-body auditPanel">

                    <!--修改信息-->
                    <section class="changeMsg" ng-hide="isMsgShow">


                         <form class="form-horizontal" name="updateForm"   novalidate>

                             <div class="form-group">
                                 <label for="provice" class="col-sm-2 control-label">第一步 输入省</label>

                                 <div class="col-sm-10">
                                     <!--<input type="text" class="form-control" id="provice" name="provice" required  ng-model="fm.provice" typeahead="pro for pro in provices" />-->
                                     <input type="text" ng-model="selected"     typeahead="item as label(item) for item in titles | filter:{title:$viewValue}"  class="form-control">



                                 </div>
                             </div>

                        <div class="form-group">
                            <label for="city" class="col-sm-2 control-label">第二步 输入市</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="city"  name="city" required ng-model="fm.city" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="area" class="col-sm-2 control-label">第三步 输入区</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="area"  name="area" required ng-model="fm.area"/>
                            </div>
                        </div>


                        <div class="form-group">

                            <label for="area" class="col-sm-2 control-label">第三步 输入区</label>
                            <div class="col-sm-10">
                                <select class="form-control">
                                    <option>学校01</option>
                                    <option>学校01</option>
                                    <option>学校01</option>
                                    <option>学校01</option>
                                </select>
                            </div>

                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button class="btn btn-primary" type="button"  ng-click="audit.showSchool();"  ng-disabled="updateForm.$invalid">完成</button>
                            </div>

                        </div>



                    </form>
                    </section>


                    <!-- 显示信息 -->
                    <section class="showMsg" ng-show="isMsgShow">

                        <h5 class="ib">陕西省</h5>
                        <h5 class="ib">西安市</h5>
                        <h5 class="ib">莲湖区</h5>
                        <button  class="ib btn btn-danger btn-sm" ng-click="audit.updateSchool();">修改学校</button>
                    </section>


                    <section ui-view></section>
                </div>




            </div>


        </div>

    </div>
</div>




