
<div class="container">
    <div class="row">

        <!-- 右侧显示内容 -->
        <div class="col-md-10" >

            <div class="panel panel-primary ">

                <div class="panel-heading">
                    <h3 class="panel-title">审核内容</h3>
                </div>

                <div class="panel-body auditPanel">

                    <!--修改信息-->
                    <section class="changeMsg" ng-hide="isMsgShow">
                        <form class="form-horizontal" name="updateForm"   novalidate>
                            <div class="form-group">

                                <div class="row">
                                    <div class="col-sm-6">
                                        <label  class="col-sm-3 control-label tl">选择地区</label>
                                        <div class="col-sm-9">
                                            <input select-address     ng-model="fm.address"  p="proviceName" c="cityName" a="districtName" d="d"   placeholder="请选择所在地" type="text" class="form-control"  required/>
                                            <input type="hidden"  ng-bind="fm.areaId"     id="areaId"  />
                                        </div>

                                    </div>

                                    <div class="col-sm-6" ng-hide="isSchool">
                                        <label  class="col-sm-3 control-label tl">选择学校</label>
                                        <div class="col-sm-9">
                                            <select  ng-options="m.schoolName for m in schools" class="form-control" ng-model="fm.school" required>
                                                <option value="">-- 全部学校 --</option>
                                            </select>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <!--<div class="form-group" ng-show="showSecond">-->


                            <!--</div>-->


                            <!--<div class="form-group">-->
                            <!--<div class="col-sm-offset-2 col-sm-10">-->
                            <!--<button class="btn btn-primary" type="button"  ng-click="audit.showSchool();"  ng-disabled="updateForm.$invalid">完成</button>-->
                            <!--</div>-->

                            <!--</div>-->


                        </form>
                    </section>
                    <!-- 显示信息 -->
                    <section class="showMsg" ng-show="isMsgShow" >

                        <h5 class="ib">{{fm.address}}</h5>
                        <h5 class="ib">{{fm.school.schoolName}}</h5>

                        <button  class="ib btn btn-danger btn-sm" ng-click="audit.updateSchool();">修改学校</button>
                    </section>








                    <!-- 表单 -->
                    <section ui-view>


                    </section>
                </div>




            </div>


        </div>

    </div>
</div>




